{"filter":false,"title":".gitignore","tooltip":"/.gitignore","ace":{"folds":[],"scrolltop":1075.5,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":45,"state":"start","mode":"ace/mode/ini"}},"hash":"ba52ad3201fdab63202af24211a1472e5f8c3228","undoManager":{"mark":-1,"position":-1,"stack":[]},"timestamp":1567718990044}