{"filter":false,"title":"requirements.txt","tooltip":"/django_project_boilerplate/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":1,"column":11},"end":{"row":1,"column":11},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1567397896572,"hash":"d60782c2fea59801c594cf3c37eb2626165a5c89"}